<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>All users</h1>
<h3>Create new User</h3>
<form th:method="POST" th:action="@{/add}" th:object="${user}">
    <label for="name">Name</label>
    <input th:field="*{name}" type="text" id="name">
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</div>
    <br>
    <label for="lastName">Last name</label>
    <input th:field="*{lastName}" type="text" id="lastName">
    <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Error</div>
    <br>
    <label for="age">Age</label>
    <input th:field="*{age}" type="text" id="age">
    <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Error</div>
    <br>
    <input type="submit" value="Add User">
</form>

<h3>Users table</h3>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Last Name</th>
        <th>Age</th>
    </tr>

    <tr th:each="user : ${userList}">
        <td th:utext="${user.getId()}">ID</td>
        <td th:utext="${user.getName()}">Name</td>
        <td th:utext="${user.getLastName()}">Last name</td>
        <td th:utext="${user.getAge()}">Age</td>
        <td>
            <form th:method="DELETE" th:action="@{/{id}(id=${user.getId()})}">
                <input type="submit" value="Delete">
            </form>
        </td>
        <td>
            <form th:method="GET" th:action="@{/update/{id}(id=${user.getId()})}">
                <input type="submit" value="Update">
            </form>
        </td>

    </tr>
</table>
</body>
</html>